<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.uberdev.ultimateorganizer.android" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="co.uberdev.ultimateorganizer.android.util.UltimateApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/UltimateTheme" >
        <activity
            android:name="co.uberdev.ultimateorganizer.android.ui.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.uberdev.ultimateorganizer.android.ui.ScheduleActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_schedule"
            android:parentActivityName="co.uberdev.ultimateorganizer.android.ui.HomeActivity" >
        </activity>
        <activity
            android:name="co.uberdev.ultimateorganizer.android.ui.AcademicNetworkActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_academic_network"
            android:parentActivityName="co.uberdev.ultimateorganizer.android.ui.HomeActivity" >
        </activity>
        <activity
            android:name="co.uberdev.ultimateorganizer.android.ui.AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:parentActivityName="co.uberdev.ultimateorganizer.android.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="co.uberdev.ultimateorganizer.android.ui.EditTaskActivity"
            android:label="@string/title_activity_edit_task"
            android:parentActivityName="co.uberdev.ultimateorganizer.android.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="co.uberdev.ultimateorganizer.android.ui.AddSubTaskActivity"
            android:label="@string/title_activity_add_sub_task"
            android:parentActivityName="co.uberdev.ultimateorganizer.android.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="co.uberdev.ultimateorganizer.android.ui.TaskDetailActivity"
            android:label="@string/title_activity_task_details"
            android:parentActivityName="co.uberdev.ultimateorganizer.android.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="co.uberdev.ultimateorganizer.android.ui.AddCourseActivity"
            android:label="@string/title_activity_add_course"
            android:parentActivityName="co.uberdev.ultimateorganizer.android.ui.ScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ScheduleActivity" />
        </activity>

        <receiver android:name="co.uberdev.ultimateorganizer.android.util.AlarmReceiver" />

        <activity
            android:name="co.uberdev.ultimateorganizer.android.auth.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="co.uberdev.ultimateorganizer.android.ui.HomeActivity"
			android:theme="@style/UltimateTheme.Auth"
			android:icon="@null">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.uberdev.ultimateorganizer.android.ui.HomeActivity" />
        </activity>
    </application>

</manifest>
